fastapi
uvicorn
python-multipart
pymongo[srv]
certifi
langchain>=0.1.0
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
langchain-google-genai
pypdf
python-docx
tiktoken
ujson
python-dotenv
unstructured
markdown
langchain-groq
langchain-mongodb
